.header {
    /* text-align: center; */
    /* align-items: center; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.385);
}

.header-logo {
    width: 125px;
}

.furniture-container {
    text-align: center;
}

.select-input {
    cursor: pointer;
    width: 100%;
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border: 2px solid currentcolor;
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
}

.select-input:focus {
    outline: 0;
    border-color: rgb(0, 221, 255);
}

.select-input:active {
    outline: 0;
    border-bottom-color: rgb(33, 25, 144);
}

.filter-search {
    text-align: center;
    justify-content: center;
    display: inline-block;
    align-items: center;
    width: 70%;
}
.homepage-container{
    text-align: center;
}
.add-furniture{
    width: 20px;
    transition: 0.2s;
    cursor: pointer;
}
.add-furniture:hover{
    transform: rotate(90deg);
}